@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
body {
	padding: 0px;
	margin: 0px;
	height: 800px;
}

.header {
	/* */
	width: 100%;
	height: 140px;
	top: 0px;
	background-color: #327aed;
	background-image: url('images/Logo.png');
	background-position: center 10px;
	background-size: 180px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: fixed;
}

.header:hover {
background-color: #0b51bf;
transition: background-color 0.5s ease-in-out;
}

.header:not(:hover) {
background-color: #327aed;
transition: background-color 0.5s ease-in-out;
}

.header button {
	margin-left: 25px;
	margin-top: 117.5px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	color: white;
	font-size: 100%;
	font-family: 'Kumbh Sans', sans-serif;
	position: absolute;
    left: 50%;
    transform: translateX(-35%);
}

#first {
    transform: translateX(-145%);
}

.header button:hover {
	color: #327aed;
	transition: color 0.5s ease-in-out;
}

.header button:not(:hover) {
	color: white;
	transition: color 0.5s ease-in-out;
}

.header a {
	margin-left: 25px;
	margin-top: 117.5px;
	border: none;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	color: white;
	font-size: 100%;
	font-family: 'Kumbh Sans', sans-serif;
	position: absolute;
    left: 50%;
    transform: translateX(-30%);
}

.header a:hover {
	color: #327aed;
	transition: color 0.5s ease-in-out;
}

.header a:not(:hover) {
	color: white;
	transition: color 0.5s ease-in-out;
}
/*
.header ul {
	list-style-type: none;
	margin-top: 100px;
	left: 50%;
	transform: translateX(50%);
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

.header li {
	font-family: 'Kumbh Sans', sans-serif;
	color: black;
	float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
*/

.main {
	margin-left: 20px;
	margin-top: 160px;
	font-size: 150%;
	font-family: 'Kumbh Sans', sans-serif;
}

.main p {
	margin-top: -20px;
}